fastapi
uvicorn
openai
python-dotenv
llama-index
llama-index-core
sentence-transformers
qdrant-client
llama-index-vector-stores-qdrant
torch
transformers
python-docx
pdfplumber
pymupdf
tiktoken
pydantic
python-multipart
numpy
