fastapi
uvicorn
openai
python-dotenv
chromadb
llama-index
llama-index-core
sentence-transformers
llama-index-vector-stores-chroma
torch
transformers
python-docx
pdfplumber
pymupdf
tiktoken
pydantic
python-multipart
numpy